@model TypeUser
@{
    ViewBag.Title = "EditType";
}

<h2>ویرایش نوع ها</h2>

<form action="/Home/EditType" method="post">
    <input type="hidden" name="ID" value="@Model.TypeId" />
    <dl class="dl-horizontal">
        <dt><input type="text" name="TypeName" value="@Model.TypeName" /></dt>
        <dd><input type="submit" value="ویرایش" /></dd>
    </dl>
    @try
    {
        foreach (var item in ViewData["type"] as List<object>)
        {

            <option value="@item">@item</option>
        }
    }
    catch (NullReferenceException e)
    {
        if (ViewData["type"] == null)
        {
            <option value="نوع کالای شما خالی است"></option>
        }
        else
        {
            foreach (var item in ViewData["type"] as List<object>)
            {

                <option value="@item">@item</option>
            }
        }
    }
</form>